<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>100 Checkboxes</title>
  </head>
  <body>
    <div id="checkboxes-container">
      <% for (let i = 0; i < 100; i++) { %>
      <input type="checkbox" id="checkbox-<%= i %>" class="checkbox" />
      <% if ((i + 1) % 10 === 0) { %><br /><% } %> <% } %>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
  </body>
</html>